if SHIELD_NOFY_R

config ZMK_KEYBOARD_NAME
    default "nofy_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NOFY_L

config ZMK_KEYBOARD_NAME
    default "nofy_L"

config ZMK_SPLIT
    default y

endif
